<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} - Customer Dashboard</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sb-admin-2.css">
        <link rel="stylesheet" href="/css/metisMenu.min.css">
        <link rel="stylesheet" href="/css/morris.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {% include 'nav.html' %}

            <div id="page-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% block javascript %}
        <!-- jQuery -->
        <script src="/js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/js/metisMenu.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/js/raphael.min.js"></script>
        <script src="/js/morris.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/js/sb-admin-2.js"></script>
        {% endblock %}
    </body>
</html>